body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar-brand img {
    height: 100px;
    /* Ajuste a altura conforme necessário */
    width: auto;
    /* Mantém a proporção */
}

header.masthead {
    padding-top: 400px;
    /* Ajuste para a navbar fixa */
    padding-bottom: 130px;
    background: url('../img/fundo.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.portfolio-item img {
    width: 70%;
    height: auto;
}

.portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.portfolio-item:hover .portfolio-item-caption {
    opacity: 1;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 1rem 0;
    margin-top: 2rem;
    text-align: center;
}